$fs-supplementary-text: 12px;/*辅助文字*/
$fs-body-small: 13px;/*正文-小*/
$fs-body: 14px;/*正文*/
$fs-title-small: 16px;/*小标题*/
$fs-title: 18px;/*标题*/
$fs-main-title: 20px;/*主标题*/

$fc-primary: #303133;/*主要文字*/
$fc-regular: #606266;/*常规文字*/
$fc-secondary: #909399;/*次要文字*/
$fc-placeholder: #c0c4cc;/*占位文字*/

$fc-theme: #f78755;/*主题色*/
$fc-success: #67c23a;/*成功*/
$fc-success-deep: #e1f3d8;/*成功（深）*/
$fc-success-shallow: #f0f9eb;/*成功（浅）*/
$fc-danger: #f56c6c;/*错误*/
$fc-danger-deep: #fde1e2;/*错误（深）*/
$fc-danger-shallow: #feeff0;/*错误（浅）*/
$fc-warning: #e6a23c;/*警告*/
$fc-warning-deep: #faecd8;/*警告（深）*/
$fc-warning-shallow: #fdf5ec;/*警告（浅）*/
$fc-info: #409EFF;/*信息*/
$fc-info-deep: #d8ecff;/*信息（深）*/
$fc-info-shallow: #ecf5ff;/*信息（浅）*/

$fc-bg-shallow: #f8f8f8;/*背景颜色（浅）*/
$fc-bg-deep1: #e6e6e6;/*背景颜色（深1）*/
